package mailer

templ ConfirmEmailTpl(locale, username, confirmURL string) {
	@EmailWrapper() {
		<p>
			{ l(locale, "email.greeting") }
			<b>{ username }</b>
			<br/>
			<br/>
			<span>{ l(locale, "email.confirm_email_body") }</span>
			<br/>
			<br/>
			<a href={ templ.URL(confirmURL) }><b>{ l(locale, "email.confirm_email_cta") }</b></a>!
		</p>
	}
}
