package mailer

templ ConfirmEmailTpl(username, confirmURL string) {
	@EmailWrapper() {
		<p>
			Hello
			<b>{ username }</b>
			<br/>
			<br/>
			<span>Confirm your email by cliking on link below:</span>
			<br/>
			<br/>
			<a href={ templ.URL(confirmURL) }><b>Click to confirm your email</b></a>!
		</p>
	}
}
