package mailer

templ ResetPasswordTpl(username, resetURL string) {
	@EmailWrapper() {
		<p>
			Hello
			<b>{ username }</b>
			<br/>
			<br/>
			<span>You can reset your password by cliking on the the following link:</span>
			<br/>
			<br/>
			<a href={ templ.URL(resetURL) }><b>Reset My Password</b></a>!
		</p>
	}
}
