@tailwind base;
@tailwind components;
@tailwind utilities;


/* Custom classes*/
.app-card {
  @apply relative bg-base-100 rounded-xl ring-1 ring-base-content/10 p-4 md:p-6
}

#root {
  min-height: 100vh;
  min-height: 100svh;
  @apply relative flex flex-col bg-base-200
}

*::-webkit-scrollbar {
    width: .75rem !important;
}
*::-webkit-scrollbar-thumb {
    --tw-bg-opacity: 1 !important;
    background-color: #6b7280aa !important;
    border-radius: .5rem !important;
}
*::-webkit-scrollbar-track {
    --tw-bg-opacity: 1 !important;
    background-color: #e5e5e5dd !important;
}

/* HTMX transitions*/
ul li {
  opacity: 1;
  transition: opacity 0.5s ease-out;
}

ul li.htmx-swapping {
  opacity: 0;
}

ul li.htmx-added {
  opacity: 0;
}

.saving-indicator{
    opacity:0;
    transition: opacity 500ms ease-in;
}

.htmx-request .saving-indicator {
    opacity: 0.75
}

/* Alpine.JS */
[x-cloak] { display: none !important; }
