@tailwind base;
@tailwind components;
@tailwind utilities;


/* Custom classes*/
.app-card {
  @apply relative bg-base-100 shadow-md rounded-xl border border-base-content/10 p-4 md:p-6
}

#root {
  min-height: 100vh;
  min-height: 100svh;
  @apply relative flex flex-col bg-base-200
}

/* HTMX transitions*/
ul li {
  opacity: 1;
  transition: opacity 0.5s ease-out;
}

ul li.htmx-swapping {
  opacity: 0;
}

ul li.htmx-added {
  opacity: 0;
}

/* Alpine.JS */
[x-cloak] { display: none !important; }
